<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>magefake</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>FC51B47A-85CE-4195-A5CD-FA6DA3890DDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C51B918E-3BF3-46C6-821E-3BA7A4160687</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CoderMageFox</string>
	<key>description</key>
	<string>中文mock数据制造workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>magefake</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fake</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>随机数据生成调用中......</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node './index.js'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>选择需要的随机数据</string>
				<key>title</key>
				<string>随机数据生成</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC51B47A-85CE-4195-A5CD-FA6DA3890DDB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C51B918E-3BF3-46C6-821E-3BA7A4160687</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>C51B918E-3BF3-46C6-821E-3BA7A4160687</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>FC51B47A-85CE-4195-A5CD-FA6DA3890DDB</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/CoderMageFox</string>
</dict>
</plist>
